.grid-container {
  border: 2px solid #cccccc;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  justify-content: space-evenly;
  border-radius: 25px;
  padding: 1.5vh 5vw;
}
